# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Flask
instance/

# Database
*.db

# User uploads
uploads/

# Generated Reports
reports/

# Environment Variables
.env