# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Database
*.db

# Secret keys
secret.key
.env

# User uploads
uploads/

# Reports generated
reports/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db